#root {
  max-width: 1280px;
  margin: 0 ;
  padding: 7rem;
  text-align: center;
}

.profile-card img{
  width: 150px;
  border: 1px solid rgba(46, 46, 46, 0);
  border-radius: 10%;
}

body{
  background-image: url('/test-app/image.png');
  background-size: cover;
}
.profile-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 1em;
  background-color: rgba(28, 9, 9, 0.374);
  padding: 3rem;
  backdrop-filter: blur(2px);
  border: 1px solid rgba(3, 0, 0, 0);
}
h2{
  font-family: 'Pinyon Script', cursive;
  color:#ffdfba;
  font-weight: 900; /* bold; use 600 for semi-bold, 800–900 for extra bold */
}
.profile-card .btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-height: 50px; /* Keep the height consistent */
  width: 100%;
}
.btn-box button{
  font-family: 'Pinyon Script', cursive;
  font-weight: 700; /* bold */
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease;
  border: 1px solid rgb(147, 103, 130);
  white-space: nowrap;
}

.btn-box .yes{
  background-color: 	#baffc9;
  color: black;
}

.btn-box .yes:hover{
  background-color: #FFEEF6;
  color: black;
}

.btn-box .no{
  background-color: #ffb3ba ;
  color: black;
}

.btn-box .no:hover{
  background-color: #FFEEF6;
  color: black;
}


