#root {
  max-width: 1280px;
  margin: 0 ;
  padding: 7rem;
  text-align: center;
}



body{
  background-image: url('/test-app/image.png');
  background-size: cover;
}
.profile-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 1em;
  background: rgba(255, 255, 255, 0.12);
  padding: 3rem;
  backdrop-filter: blur(6px);
  border: 1px solid rgba(3, 0, 0, 0);
}
.yes-camera-img {
  width: 20px;
  max-width: 100%;
  height: auto;
  margin: 0 auto 0.75rem auto;
  display: block;
}
h1{
  font-family: 'Cinzel', 'Copperplate Gothic Light', Georgia, serif;
  color:#000000;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); /* bold; use 600 for semi-bold, 800–900 for extra bold */
}
h2{
  font-family: 'Cinzel', 'Copperplate Gothic Light', Georgia, serif;
  color:#000000;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); /* bold; use 600 for semi-bold, 800–900 for extra bold */
}
.profile-card .btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-height: 50px; /* Keep the height consistent */
  width: 100%;
}
.btn-box button{
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  font-family: 'Cinzel', 'Copperplate Gothic Light', Georgia, serif;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease;
  border: 1px solid rgb(147, 103, 130);
  white-space: nowrap;
}

.btn-box .yes{

  background-color: 	#baffc9;
  color: black;
}

.btn-box .yes:hover{
  background-color: #FFEEF6;
  color: black;
}

.btn-box .no{
  background-color: #ffb3ba ;
  color: black;
}

.btn-box .no:hover{
  background-color: #FFEEF6;
  color: black;
}


