#root {
  max-width: 1280px;
  margin: 0 ;
  padding: 7rem;
  text-align: center;
}

.profile-card img{
  width: 150px;
  border: 5px solid pink;
  border-radius: 10%;
}


body{
  background-image: url('/test-app/image.jpeg');
  background-size: cover;

}
.profile-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 1em;
  background-color: rgba(148, 148, 148, 0.16);
  padding: 3rem;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.profile-card .btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.btn-box button{
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  border: 2px solid transparent
}

.btn-box .yes{
  background-color: pink;
  color: black;
}

.btn-box .yes:hover{
  background-color: #F527A9;
  color: black;
}

.btn-box .no{
  background-color: red ;
  color: black;
}




