#root {
  max-width: 1280px;
  margin: 0 ;
  padding: 7rem;
  text-align: center;
}

.profile-card img{
  width: 150px;
  border: 5px solid pink;
  border-radius: 10%;
}

body{
  background-image: url('/test-app/image.png');
  background-size: cover;
}
.profile-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 1em;
  background-color: rgba(255,255,255,0);
  padding: 3rem;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
h2{
  color: black;
}
.profile-card .btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-height: 50px; /* Keep the height consistent */
  width: 100%;
}
.btn-box button{
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  border: 2px solid transparent
}

.btn-box .yes{
  background-color: #F011A2;
  color: black;
}

.btn-box .yes:hover{
  background-color: #FFEEF6;
  color: black;
}

.btn-box .no{
  background-color: red ;
  color: black;
}

.btn-box .no:hover{
  background-color: #FFEEF6;
  color: black;
}


